{% extends "base.html" %}
{% block title %}Группа{% endblock %}
{% block content %}

<br />
<h1 align="center">{{ group.title }}</h1>
<h3 align="center">{{ group.content }}</h3>
<br />
<form class="d-flex" method="POST">
  <input
    id="search"
    name="search"
    class="form-control me 2"
    type="search"
    placeholder="Поиск"
  />
  <button class="btn btn-secondary" type="send">Поиск</button>
  <button class="btn btn-secondary" type="send">Назад</button>
</form>
<br />
<div class="row row-cols-1">
  {% for note in notes %}
    <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="card-title">{{ note.title }}</h5>
              <button type="button" class="btn-close" aria-label="Close" onClick="delete_note({{ note.id }})"></button>
            </div>
            <p class="card-text">{{ note.content }}</p>
            <p class="card-text">Дата создания: {{ note.date.date() }}</p>
            <button class="btn btn-secondary ms-1 float-end" onClick="edit_note({{ note.id }})">Изменить</button>
            <a class="btn btn-light" role="button" style="float:right" href="/delete-from-group/{{ group.id }}/{{ note.id }}">
              Удалить из группы
            </a>
          </div>
        </div>
      <br />
    </div>
  {% endfor %}
</div>

{% endblock %}