{% extends "base.html" %}
{% block title %}Заметки{% endblock %}
{% block content %}

<br />
<h1 align="center">Заметки</h1>
<br />
<div class="d-grid gap-2 d-md-block" align="center">
  <button type="submit" class="btn btn-secondary" onClick="create_note()">Создать заметку</button>
  <button type="submit" class="btn btn-secondary" onClick="create_group()">Создать группу</button>
</div>
<br />
<form class="d-flex" method="POST">
  <input
    id="search"
    name="search"
    class="form-control me 2"
    type="search"
    placeholder="Поиск"
  />
  <button class="btn btn-secondary" type="send">Поиск</button>
  <button class="btn btn-secondary" type="send" >Назад</button>
</form>
<div class="row row-cols-1 row-cols-md-3 g-4 py-5">
  {% for group in groups %}
    <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="card-title">{{ group.title }}</h5>
              <button type="button" class="btn-close" aria-label="Close" onClick="delete_group({{ group.id }})"></button>
            </div>
            <p class="card-text">{{ group.content }}</p>
            <a class="btn btn-secondary" onClick="open_group({{ group.id }})">Открыть</a>
          </div>
        </div>
    </div>
  {% endfor %}
</div>

<div class="row row-cols-1">
  {% for note in notes %}
    <div class="col">
        <div class="card">
          <div class="card-body">

            <div class="d-flex w-100 justify-content-between">
              <h5 class="card-title">{{ note.title }}</h5>
              <button type="button" class="btn-close" aria-label="Close" onClick="delete_note({{ note.id }})"></button>
            </div>
            <p class="card-text">{{ note.content }}</p>

<!--            <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
              <button class="btn btn-outline-dark ms-1 float-end" onClick="edit_note({{ note.id }})">Изменить</button>
<!--            </div>-->
            <div class="dropdown">
                <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="float:right">
                  Добавить в группу
                </a>
                <ul class="dropdown-menu">
                  {% for group in groups %}
                    <li><a class="dropdown-item" href="/add-to-group/{{ group.id }}/{{ note.id }}">{{ group.title }}</a></li>
                  {% endfor %}
                </ul>
            </div>

          </div>
        </div>
      <br />
    </div>
  {% endfor %}
</div>

<br />

{% endblock %}