{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}

<br />
<h1 align="center">Заметки</h1>
<form method="POST">
  <input
    type="text"
    class="form-control"
    id="title"
    name="title"
    placeholder="Заголовок"
  />
  <br />
  <textarea
    name="note"
    id="note"
    class="form-control"
    placeholder="Заметка"
  ></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-secondary">Добавить заметку</button>
  </div>
</form>
<br />
<form class="d-flex" method="POST">
  <input
    id="search"
    name="search"
    class="form-control me 2"
    type="search"
    placeholder="Поиск"
  />
  <button class="btn btn-secondary" type="send">Поиск</button>
</form>
<br />
<div class="list-group">
  {% for note in notes %}
  <a href="#" class="list-group-item list-group-item-light">
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ note.title }}</h5>
    </div>
    <p class="mb-1">{{ note.content }}</p>
  </a>
  {% endfor %}
</div>

{% endblock %}